{% extends 'base.html.twig' %}
{% block title %}Liste des contatcs{% endblock %}
{% block body %}
<div class="row">
{#{{dump(lesContacts)}}#}
    {% for contact in lesContacts %} 
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
            <div class="card mb-3 container, d-flex align-items-center" style="width: 18rem;"> 
                <h4 class="card-title text-center">{{contact.nom}} {{contact.prenom}}</h4>
                <img class="avatar" style="height: auto; max-width: 200px; display: block;" src="{{contact.avatar}}" class="avatar mx-auto my-3" alt="image avatar">
                <ul class="list-group list-group-flush, d-flex align-items-center">
                    <li class="list-group-item">{{contact.rue}}</li>
                    <li class="list-group-item">{{contact.cp}}</li>
                    <li class="list-group-item">{{contact.ville}}</li>
                    <li class="list-group-item">{{contact.mail}}</li>
                    <li class="list-group-item genre">
                    {%if contact.sexe==0%}
                        border-info
                        <span class = 'badge text-bg-info'>Homme</span>
                        {%else%}
                        border-warning 
                        <span  class = 'badge text-bg-warning'> Femme</span>
                    {% endif %}
                    </li>
                    <li class="list-group-item categorie">
                     <a class="text-align-center" href="{{path('ficheCategorie',{'id':contact.categorie.id})}}">
                    {{contact.categorie.libelle}}
                    </li>
                </ul>
                {# <li class= "list-group-item">
                        <a href="{{path('ficheCategorie',{'id':contact.categorie.id})}}" {{contact.categorie.libelle}}</a>
                </li> #}
                <div class= "card-body">
                        <a href="{{path('ficheContact',{'id':contact.id})}}" class="btn btn-success btn-block text-center w-100">Détail...</a>
                    </div>
            </div>
        </div>
        
    {% endfor %}
</div>
{#<ol>
{% for  contact in lesContacts %}
    <li>{{contact.prenom}}</li> {{contact.nom}}</li>
    {% endfor %} 
</ol> 
#}
{% endblock %}
