{% extends 'base.html.twig' %}
{% block title %}Liste des catégories{% endblock %}
{% block body %}
<div class="row">
{% for contact in leCategorie.contacts %} 
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
            <div class="card mb-3 container, d-flex align-items-center" style="width: 18rem;"> 
                <h4 class="card-title text-center">{{leCategorie.libelle}}</h4>
                <img style="height: auto; max-width: 200px; display: block;" src="{{leCategorie.image}}" class="image mx-auto my-3" alt="image">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{leCategorie.description}}</li>
                </ul>
                <div class= "card-body">
                    <a href="{{path('app_categorie')}}" class="btn btn-primary btn-block text-center w-100">Retour</a>
                </div>
                <div class= "card-body">
                    <a href="{{path('app_contacts')}}" class="btn btn-primary btn-block text-center w-100">Contact </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
